<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExemploLinqToSql.Properties.Settings.CursoProgramacaoConnectionString"
            connectionString="Data Source=localhost\FISIO;Initial Catalog=CursoProgramacao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>